data/xsd/RandonneurExtensions.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:complexType name="JunctionsList">
  <xs:sequence minOccurs="0" maxOccurs="unbounded">
    <xs:element name="gpxfile" type="xs:string" />
  </xs:sequence>
</xs:complexType>

<xs:element name="junctions" type="JunctionsList" />
